@font-face {
  font-family: "ITC Clearface Std";
  src: url("../fonts/ClearfaceStd-BlackItalic.woff2") format("woff2"),
    url("../fonts/ClearfaceStd-BlackItalic.woff") format("woff"),
    url("../fonts/ClearfaceStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITC Clearface Std";
  src: url("../fonts/ClearfaceStd-BoldItalic.woff2") format("woff2"),
    url("../fonts/ClearfaceStd-BoldItalic.woff") format("woff"),
    url("../fonts/ClearfaceStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITC Clearface Std";
  src: url("../fonts/ClearfaceStd-Heavy.woff2") format("woff2"),
    url("../fonts/ClearfaceStd-Heavy.woff") format("woff"),
    url("../fonts/ClearfaceStd-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Clearface Std";
  src: url("../fonts/ClearfaceStd-HeavyItalic.woff2") format("woff2"),
    url("../fonts/ClearfaceStd-HeavyItalic.woff") format("woff"),
    url("../fonts/ClearfaceStd-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITC Clearface Std";
  src: url("../fonts/ClearfaceStd-Italic.woff2") format("woff2"),
    url("../fonts/ClearfaceStd-Italic.woff") format("woff"),
    url("../fonts/ClearfaceStd-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITC Clearface Std";
  src: url("../fonts/ClearfaceStd-Regular.woff2") format("woff2"),
    url("../fonts/ClearfaceStd-Regular.woff") format("woff"),
    url("../fonts/ClearfaceStd-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Clearface Std";
  src: url("../fonts/ClearfaceStd-Bold.woff2") format("woff2"),
    url("../fonts/ClearfaceStd-Bold.woff") format("woff"),
    url("../fonts/ClearfaceStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zolleha";
  src: url("../fonts/Zolleha.woff2") format("woff2"),
    url("../fonts/Zolleha.woff") format("woff"),
    url("../fonts/Zolleha.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
