$text: #000;
$primary: #ddd9ce;
$secondary: #000;
$tertiary: #b3b3b3;
$creamShade1: #666666;
$greyShade1: #494847;
$greyShade2: #8b8986;
$greyShade3: #4a4a4a;
$white: #fff;

$htmlFontSize: 16px;
$baseFontSize: 16px;
$baseFontFamily: "ITC Clearface Std", sans-serif;
$headingFontFamily: "Zolleha";
$baseLineHeight: 2.1875rem;
$baseTextColor: color($secondary);
