<tr data-aos="fade-up">
    <td>@@year</td>
    <td>
        <div>
            <div class="title">@@award.title</div>
            <div class="text">Presented by</div>
            <div class="bottom-text">@@award.presented_by</div>
        </div>
    </td>
    <td>
        <div>
            <div class="title">@@project.title</div>
            <div class="text">Category</div>
            <div class="bottom-text">@@project.categories</div>
        </div>
    </td>
    <td>
        <div>
            <div class="title">@@song.title</div>
            <div class="text">Co-Recipient</div>
            <div class="bottom-text">@@song.categories</div>
        </div>
    </td>
    <td>
        <div>
            <div class="title">@@status.status</div>
            <div class="text">Type</div>
            <div class="bottom-text">@@status.type</div>
        </div>
    </td>
</tr>