<div class="award-list-table">
    <table>
        <tr>
            <th class="active">Year</th>
            <th>Award</th>
            <th>Project</th>
            <th>Song</th>
            <th>Status</th>
        </tr>
        @@include('./award-list-single.html', {
        "year": "2021",
        "award": {
        "title": "Grammy Award",
        "presented_by": "National Academy of Recording Arts & Sciences"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Will Van Dyke, Michael Mayer, Frank Wolf"
        },
        "status": {
        "status": "Pending",
        "type": "Stage"
        },
        "sort": "active",
        })
        @@include('./award-list-single.html', {
        "year": "2020",
        "award": {
        "title": "Family Film Awards",
        "presented_by": "World Film Institute"
        },
        "project": {
        "title": "Aladdin",
        "categories": "Outstanding Original Song For a Film"
        },
        "song": {
        "title": "Speechless",
        "categories": "Will Van Dyke, Michael Mayer, Frank Wolf"
        },
        "status": {
        "status": "Winner",
        "type": "Stage"
        },
        "sort": "",
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        },
        "sort": "",
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })
        @@include('./award-list-single.html', {
        "year": "2019",
        "award": {
        "title": "Hawaii Film Critics Society Award",
        "presented_by": "Hawaii Film Critics Society"
        },
        "project": {
        "title": "Little Shop of Horrors",
        "categories": "Best Musical Theater Album"
        },
        "song": {
        "title": "Speechless",
        "categories": "Benj Pasek, Justin Paul"
        },
        "status": {
        "status": "Nominee",
        "type": "Cinema"
        }
        })


    </table>
</div>