<div class="single-feed">
    <div class="image-container">
        <img src="//images.ctfassets.net/3v2dwpcftfjz/2SafoYM8fG8sfh07hqRuOe/246b77c4287d9c46b5b77491352092a4/BATB006_Curve_1000x752-11-795x0-c-center.jpg?fm=jpg&w=440&q=50"
            class="img-fluid" />
    </div>
    <h3 class="title">Beauty and the Beast stage revival/UK tour</h3>
    <div class="excerpt">
        <p>Disney Theatricals is currently at work on a production of Beauty and the Beast which will tour the UK and
            Ireland in May 2021. The tour will launch with a five week run at Curve Leicester. The original creative
            team (including Alan) from the Broadway production will be joining the revival.</p>
    </div>
    <a href="#">Click here to sign up for updates and tickets</a>
</div>